body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

#user-list, #chat-box {
    margin: 20px auto;
    padding: 20px;
    width: 50%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#messages, #users {
    list-style-type: none;
    padding: 0;
}

#messageInput {
    width: 80%;
    padding: 10px;
}

button {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}
